<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PowerTrackZ</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'components/menu.html' %}
    <div class="container">
        <div class="project-info">
            <h2>PowerTrackZ</h2>
            <p>PowerTrackZ é um projeto que visa monitorar e analisar pontos de acesso de energia utilizando a API do Zabbix. Este projeto permite registrar, visualizar e analisar dados de pontos de acesso de forma eficiente.</p>
            <p>Repositório do projeto: <a href="https://github.com/acacio90/PowerTrackZ" target="_blank">GitHub</a></p>
        </div>
        <div class="register-button-container">
            <a href="/register" class="button-standard">REGISTER</a>
        </div>
    </div>
</body>
</html>